<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Download februari Rhapsody in het Nederlands</title>
  <meta property="og:title" content="Download februari Rhapsody in het Nederlands">
  <meta property="og:description" content="Download je favoriete dagelijkse devotional de Rhapsody of Realities om je geest elke dag een boost te geven. Rhapsody of Realities Christian Daily Devotional, door Pastor Chris Oyakhilome, is de nummer 1 bijbelstudiegids ter wereld. Lees de dagelijkse devotional Rhapsody of Realities van Pastor Chris, de president van Loveworld Inc., ook bekend als Christ Embassy Church.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/dutch">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Download je favoriete dagelijkse devotional de Rhapsody of Realities om je geest elke dag een boost te geven. Rhapsody of Realities Christian Daily Devotional, door Pastor Chris Oyakhilome, is de nummer 1 bijbelstudiegids ter wereld. Lees de dagelijkse devotional Rhapsody of Realities van Pastor Chris, de president van Loveworld Inc., ook bekend als Christ Embassy Church.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-responsive height="100hv">
          <v-layout fill-height justify-center align-center>
            <v-flex md7 sm12 xs12 class="hidden-sm-and-down">
              <v-img src="/images/impact-europe.jpeg" height="100vh" />
            </v-flex>
            <v-flex md5 sm12 xs12>
              <v-responsive height="100vh">
                <v-layout fill-height justify-center align-center>
                  <v-card flat color="transparent">
                    <v-card-text class="px-8">
                      <h2 class="display-2 text-center mb-8">Over TNI</h2>
                      <p>
                        Het <a target="_Blank" href="https://tniglobal.org"> Translators 'Network International (TNI) </a> 
                        is een netwerk van vertalers en geïnspireerde individuen die ervoor zorgen dat de werken en berichten 
                        van pastoor Chris Oyakhilome zijn beschikbaar en toegankelijk in de taal die het best door mensen wordt 
                        begrepen. Naast vertalen, streeft het netwerk ernaar om de goddelijke waarheden die het evangelie van Jezus 
                        biedt via verschillende platforms te verspreiden - en in de talen die het beste door de mensen worden begrepen.
                      </p>

                        <p>
                          Vanaf het begin van de Rhapsody of Realities Translations met de allereerste Duitse 
                          vertaling in 2002, begon de ‘Messenger Angel’ als een flikkering van licht aan de reis 
                          van ontroerende levens, persoon voor persoon in de taal die ze het beste begrijpen.
                        </p>

                        <p>
                          <strong>
                            Dus, met een passie om elke stam en taal te bereiken, werd de Boodschapper Engel vertaald in andere talen
                          </strong>
                        </p>
                            
                      </v-card-text>

                      <v-card-actions class="px-8">
                        <v-btn class="text-capitalize" color="primary" dark href="https://tniglobal.org/join-the-team">Word lid van TNI</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn class="text-capitalize" color="green" dark href="https://ipartner.tniglobal.org">Werk samen met TNI</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-layout>
                </v-responsive>
              </v-flex>
          </v-layout>
        </v-responsive>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody is aan het downloaden...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/SPECIAL DUTCH 6 MONTHS EIDITON BUMPER PACK.pdf";
            link.download = 'SPECIAL DUTCH 6 MONTHS EIDITON BUMPER PACK.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Dutch"
              }
              this.loading = true
              fetch(`/dutch`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('La réponse du réseau n\'était pas correcte');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Il y a eu un problème avec l'opération de soumission. Réessayez plus tard."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>