<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Κατεβάστε το Ραψωδία Φεβρουαρίου στα Ελληνικά</title>
  <meta property="og:title" content="Κατεβάστε το Ραψωδία Φεβρουαρίου στα Ελληνικά">
  <meta property="og:description" content="Κατεβάστε την αγαπημένη σας καθημερινή λατρεία το Ραψωδία των Πραγματικότητας για να αυξήσετε το πνεύμα σας κάθε μέρα. Το Rhapsody of Realities Christian Daily Devotional, από τον πάστορα Chris Oyakhilome, είναι ο Νο 1 οδηγός μελέτης της Βίβλου στον κόσμο. Διαβάστε την καθημερινή λατρεία του Rhapsody of Realities από τον Πάστορα Κρις, τον πρόεδρο της Loveworld Inc., γνωστή ως εκκλησία Christ Embassy.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/greek">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Κατεβάστε την αγαπημένη σας καθημερινή λατρεία το Ραψωδία των Πραγματικότητας για να αυξήσετε το πνεύμα σας κάθε μέρα. Το Rhapsody of Realities Christian Daily Devotional, από τον πάστορα Chris Oyakhilome, είναι ο Νο 1 οδηγός μελέτης της Βίβλου στον κόσμο. Διαβάστε την καθημερινή λατρεία του Rhapsody of Realities από τον Πάστορα Κρις, τον πρόεδρο της Loveworld Inc., γνωστή ως εκκλησία Christ Embassy.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-responsive height="100hv">
          <v-layout fill-height justify-center align-center>
            <v-flex md7 sm12 xs12 class="hidden-sm-and-down">
              <v-img src="/images/pastor-chris.png" height="100vh" />
            </v-flex>
            <v-flex md5 sm12 xs12>
              <v-responsive height="100vh">
                <v-layout fill-height justify-center align-center>
                  <v-card flat color="transparent">
                    <v-card-text class="px-8">
                      <h2 class="display-2 text-center mb-8">Σχετικά με την TNI</h2>
                      <p>
                        Το <a target="_Blank" href="https://tniglobal.org"> Διεθνές δίκτυο μεταφραστών (TNI) </a> 
                        είναι ένα δίκτυο μεταφραστών και εμπνευσμένων ατόμων που διασφαλίζουν ότι τα έργα και τα 
                        μηνύματα του πάστορα Chris Oyakhilome είναι διαθέσιμα και προσβάσιμα στη γλώσσα που κατανοείται 
                        καλύτερα από τους ανθρώπους. Πέρα από τη μετάφραση, το Δίκτυο προσπαθεί να διανείμει τις θεϊκές 
                        αλήθειες που προσφέρει το ευαγγέλιο του Ιησού μέσω διαφορετικών πλατφορμών - και στις γλώσσες που 
                        κατανοούνται καλύτερα από τους ανθρώπους.
                      </p>

                        <p>
                          Από την έναρξη της μετάφρασης του Ραψωδία των Πραγματικότητας με την πρώτη γερμανική 
                          μετάφραση το 2002, το «Messenger Angel» σαν ένα τρεμόπαιγμα του φωτός, ξεκίνησε το 
                          ταξίδι να αγγίζει ζωές, ένα άτομο κάθε φορά στη γλώσσα που κατανοούν καλύτερα.
                        </p>

                        <p>
                          <strong>
                            Έτσι, με πάθος να φτάσει σε κάθε φυλή και γλώσσα, ο Messenger Angel μεταφράστηκε σε άλλες γλώσσες
                          </strong>
                        </p>
                            
                      </v-card-text>

                      <v-card-actions class="px-8">
                        <v-btn class="text-capitalize" color="primary" dark href="https://tniglobal.org/join-the-team">Εγγραφείτε στην TNI</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn class="text-capitalize" color="green" dark href="https://ipartner.tniglobal.org">Συνεργαστείτε με την TNI</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-layout>
                </v-responsive>
              </v-flex>
          </v-layout>
        </v-responsive>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Λήψη του Rhapsody...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/SPECIAL GREEK 6 MONTHS EIDITON BUMPER PACK 1.pdf";
            link.download = 'SPECIAL GREEK 6 MONTHS EIDITON BUMPER PACK 1.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Greek"
              }
              this.loading = true
              fetch(`/greek`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('La réponse du réseau n\'était pas correcte');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Il y a eu un problème avec l'opération de soumission. Réessayez plus tard."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>