<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>સપ્ટેમ્બર 2020 ને ગુજરાતીમાં ડાઉનલોડ કરો</title>
  <meta property="og:title" content="સપ્ટેમ્બર 2020 ને ગુજરાતીમાં ડાઉનલોડ કરો">
  <meta property="og:description" content="દરરોજ તમારી ભાવનાને ઉત્તેજન આપવા માટે તમારા મનપસંદ દૈનિક ભક્તિનો વાસ્તવિકતાનો ઉત્સાહ ડાઉનલોડ કરો. પાદરી ક્રિસ ઓયાખિલોમ દ્વારા રિયાલ્ટીઝ ઓફ રિયાલિટીઝ ક્રિશ્ચિયન દૈનિક ભક્તિ, વિશ્વમાં નંબર 1 બાઇબલ અભ્યાસ માર્ગદર્શિકા છે. લવવર્લ્ડ ઇન્ક., ઉર્ફે ક્રિસ્ટ એમ્બેસી ચર્ચના પ્રમુખ પાદરી ક્રિસ દ્વારા રોજિંદા ભક્તિઓનો ભક્તિ વાંચો.">
  <meta property="og:image" content="http://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="http://impact.tniglobal.org/gu">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="દરરોજ તમારી ભાવનાને ઉત્તેજન આપવા માટે તમારા મનપસંદ દૈનિક ભક્તિનો વાસ્તવિકતાનો ઉત્સાહ ડાઉનલોડ કરો. પાદરી ક્રિસ ઓયાખિલોમ દ્વારા રિયાલ્ટીઝ ઓફ રિયાલિટીઝ ક્રિશ્ચિયન દૈનિક ભક્તિ, વિશ્વમાં નંબર 1 બાઇબલ અભ્યાસ માર્ગદર્શિકા છે. લવવર્લ્ડ ઇન્ક., ઉર્ફે ક્રિસ્ટ એમ્બેસી ચર્ચના પ્રમુખ પાદરી ક્રિસ દ્વારા રોજિંદા ભક્તિઓનો ભક્તિ વાંચો.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">પાદરી ક્રિસ દ્વારા આશીર્વાદ મેળવ્યા છે?</h2>
                            <h4>ભગવાન માણસ વિશે વધુ જાણો</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="નામ *" v-model="name" :rules="[v => !!v || 'નામ આવશ્યક છે']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ઈ - મેઈલ સરનામું *" v-model="email" :rules="[
                                v => !!v || 'ઇ-મેઇલ આવશ્યક છે',
                                v => /.+@.+\..+/.test(v) || 'ઇ-મેઇલ માન્ય હોવો આવશ્યક છે',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ફોન નંબર *" v-model="phoneNumber" :rules="[v => !!v || 'ફોન નંબર આવશ્યક છે']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">સબમિટ કરો</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            fetch(`/download?lang=gujarati`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('નેટવર્ક પ્રતિસાદ બરાબર ન હતો');
                }
                return response.blob();
            })
            .then(blob => {
                const link = document.createElement('a')
                link.href = URL.createObjectURL(blob)
                link.download = "September 2020 Gujarati Inner"
                link.click()
                URL.revokeObjectURL(link.href)
            })
            .catch(error => {
                console.error('તમારા ફેંચ operationપરેશનમાં સમસ્યા આવી છે:', error);
            });
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Gujarati"
              }
              this.loading = true
              fetch(`/`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('નેટવર્ક પ્રતિસાદ બરાબર ન હતો');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('તમારા ફેંચ operationપરેશનમાં સમસ્યા આવી છે:', error);
                  this.snackbar = true
                  this.text = "સબમિશન operationપરેશનમાં સમસ્યા આવી છે. પછીથી ફરી પ્રયાસ કરો."
              });
            }
          }
      }
    })
  </script>
</body>
</html>