<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Download हिन्दू उर्दू में सितंबर राशी डाउनलोड करें</title>
  <meta property="og:title" content="Download हिन्दू उर्दू में सितंबर राशी डाउनलोड करें">
  <meta property="og:description" content="अपनी आत्मा को हर दिन एक लिफ्ट देने के लिए अपने पसंदीदा दैनिक भक्ति को वास्तविकता का डाउनलोड करें। पादरी क्रिस ओयाखिलोम द्वारा रियलिटी क्रिश्चियन डेली भक्ति के रैप्सोडी, दुनिया में नंबर 1 बाइबिल अध्ययन गाइड है। रीडर्सोडी ऑफ़ रियलिटी दैनिक भक्ति पास्टर क्रिस, लववर्ल्ड इंक के अध्यक्ष, उर्फ मसीह दूतावास चर्च द्वारा पढ़ें।">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="अपनी आत्मा को हर दिन एक लिफ्ट देने के लिए अपने पसंदीदा दैनिक भक्ति को वास्तविकता का डाउनलोड करें। पादरी क्रिस ओयाखिलोम द्वारा रियलिटी क्रिश्चियन डेली भक्ति के रैप्सोडी, दुनिया में नंबर 1 बाइबिल अध्ययन गाइड है। रीडर्सोडी ऑफ़ रियलिटी दैनिक भक्ति पास्टर क्रिस, लववर्ल्ड इंक के अध्यक्ष, उर्फ मसीह दूतावास चर्च द्वारा पढ़ें।">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">पाश्चर क्रिस द्वारा धन्य है?</h2>
                            <h4>भगवान के आदमी के बारे में अधिक जानें</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="नाम *" v-model="name" :rules="[v => !!v || 'नाम आवश्यक है']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ईमेल पता *" v-model="email" :rules="[
                                v => !!v || 'ईमेल जरुरी है',
                                v => /.+@.+\..+/.test(v) || 'ईमेल मान्य होना चाहिए',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="फ़ोन नंबर *" v-model="phoneNumber" :rules="[v => !!v || 'फोन नंबर आवश्यक है']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">प्रस्तुत</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/September 2020 Hindu Urdu Inner.pdf";
            link.download = 'September 2020 Hindu Urdu Inner.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "English"
              }
              this.loading = true
              fetch(`/hindu`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "सबमिशन ऑपरेशन में समस्या आई है। बाद में पुन: प्रयास करें।"
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>