<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Download February Rhapsody in English</title>
  <meta property="og:title" content="Download February Rhapsody in English">
  <meta property="og:description" content="Download your favourite daily devotional the Rhapsody of Realities to give your spirit a lift every day. Rhapsody of Realities Christian Daily Devotional, by Pastor Chris Oyakhilome, is the No. 1 Bible study guide in the world. Read Rhapsody of Realities daily devotional by Pastor Chris, the president of Loveworld Inc., aka Christ Embassy church.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Download your favourite daily devotional the Rhapsody of Realities to give your spirit a lift every day. Rhapsody of Realities Christian Daily Devotional, by Pastor Chris Oyakhilome, is the No. 1 Bible study guide in the world. Read Rhapsody of Realities daily devotional by Pastor Chris, the president of Loveworld Inc., aka Christ Embassy church.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-responsive height="100hv">
          <v-layout fill-height justify-center align-center>
            <v-flex md7 sm12 xs12 class="hidden-sm-and-down">
              <v-img src="/images/pastor-chris.png" height="100vh" />
            </v-flex>
            <v-flex md5 sm12 xs12>
              <v-responsive height="100vh">
                <v-layout fill-height justify-center align-center>
                  <v-card flat color="transparent">
                    <v-card-text class="px-8">
                      <h2 class="display-2 text-center mb-8">About TNI</h2>
                      <p>
                          The <a target="_Blank" href="https://tniglobal.org">Translators’ Network International (TNI)</a> is a network of Translators 
                          and inspired individuals who ensure that the works and messages of Pastor 
                          Chris Oyakhilome are available and accessible in the language best understood 
                          by people. Beyond translating, the Network strives to distribute the divine verities 
                          the gospel of Jesus offered through different platforms – and in the languages best 
                          understood by the people.
                        </p>

                        <p>
                          From the inception of the Rhapsody of Realities Translations with the first ever German 
                          Translation in 2002, the ‘Messenger Angel’ like a flicker of light, began the journey of 
                          touching lives, one person at a time in the language they understand best.
                        </p>

                        <p>
                          <strong>
                            Thus, with a passion to reach every tribe and tongue, the Messenger Angel was translated into other languages
                          </strong>
                        </p>
                            
                      </v-card-text>

                      <v-card-actions class="px-8">
                        <v-btn class="text-capitalize" color="primary" dark href="https://tniglobal.org/join-the-team">Join TNI</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn class="text-capitalize" color="green" dark href="https://ipartner.tniglobal.org">Partner with TNI</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-layout>
                </v-responsive>
              </v-flex>
          </v-layout>
        </v-responsive>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody is downloading...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            download: true,
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/February 2021 Inner.pdf";
            link.download = 'RHAPSODY OF REALITIES FEBRUARY 2021.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "English"
              }
              this.loading = true
              fetch(`/`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                console.log(data)
                window.location.href = "https://tniglobal.org/join-the-team"
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "There has been a problem with the submission operation. Try again later."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>