<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Scarica September Rhapsody in italiano</title>
  <meta property="og:title" content="Scarica September Rhapsody in italiano">
  <meta property="og:description" content="Scarica il tuo devozionale quotidiano preferito, la Rapsodia delle Realtà, per dare una spinta al tuo spirito ogni giorno. Rhapsody of Realities Christian Daily Devotional, del pastore Chris Oyakhilome, è la guida per lo studio della Bibbia numero 1 al mondo. Leggi il devozionale quotidiano di Rhapsody of Realities del pastore Chris, presidente di Loveworld Inc., alias la chiesa dell'ambasciata di Cristo.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Scarica il tuo devozionale quotidiano preferito, la Rapsodia delle Realtà, per dare una spinta al tuo spirito ogni giorno. Rhapsody of Realities Christian Daily Devotional, del pastore Chris Oyakhilome, è la guida per lo studio della Bibbia numero 1 al mondo. Leggi il devozionale quotidiano di Rhapsody of Realities del pastore Chris, presidente di Loveworld Inc., alias la chiesa dell'ambasciata di Cristo.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">Sono stati benedetti <br /> dal pastore Chris?</h2>
                            <h4>Scopri di più sull'uomo di Dio</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="Nome *" v-model="name" :rules="[v => !!v || 'Il nome è obbligatorio']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="Indirizzo email *" v-model="email" :rules="[
                                v => !!v || 'E-mail richiesta',
                                v => /.+@.+\..+/.test(v) || 'L'email deve essere valida',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="Numero di telefono *" v-model="phoneNumber" :rules="[v => !!v || 'Il numero di telefono è richiesto']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">Invia</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            fetch(`/files/italian.pdf`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
              saveAs(blob, "September 2020 Italian Inner", {type: 'application/pdf'});
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Italian"
              }
              this.loading = true
              fetch(`/`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.snackbar = true
                  this.text = "Si è verificato un problema con l'operazione di invio. Riprovare più tardi."
              });
            }
          }
      }
    })
  </script>
</body>
</html>