<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>मराठी मध्ये सप्टेंबर रॅप्सोडी डाउनलोड करा</title>
  <meta property="og:title" content="मराठी मध्ये सप्टेंबर रॅप्सोडी डाउनलोड करा">
  <meta property="og:description" content="दररोज आपल्या आत्म्यास उत्तेजन देण्यासाठी आपल्या आवडत्या दररोजच्या भक्तीचे रॅप्सोडी डाउनलोड करा. ख्रिश्चन डेली भक्ती या वास्तविकतेचा उद्घोष हा चर्चचा मुख्य धर्मोपदेशक ख्रिस ओयाकिलोम यांनी लिहिलेला जगातील पहिला क्रमांक बायबल अभ्यास मार्गदर्शक आहे. रॅपॉसॉडी ऑफ रियलिटीस दररोज भक्ती वाचा लव्हवल्ड इंक चे अध्यक्ष, पास्टर ख्रिस, उर्फ क्राइस्ट एम्बेसी चर्च.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="दररोज आपल्या आत्म्यास उत्तेजन देण्यासाठी आपल्या आवडत्या दररोजच्या भक्तीचे रॅप्सोडी डाउनलोड करा. ख्रिश्चन डेली भक्ती या वास्तविकतेचा उद्घोष हा चर्चचा मुख्य धर्मोपदेशक ख्रिस ओयाकिलोम यांनी लिहिलेला जगातील पहिला क्रमांक बायबल अभ्यास मार्गदर्शक आहे. रॅपॉसॉडी ऑफ रियलिटीस दररोज भक्ती वाचा लव्हवल्ड इंक चे अध्यक्ष, पास्टर ख्रिस, उर्फ क्राइस्ट एम्बेसी चर्च.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">पास्टर क्रिसच्या द्वारे तुम्ही आशीर्वादित झाला आहात काय?</h2>
                            <h4>देवाच्या जनासंबंधी आणखी जाणून घ्या</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="नाव *" v-model="name" :rules="[v => !!v || 'नाव आवश्यक आहे']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ईमेल *" v-model="email" :rules="[
                                v => !!v || 'ईमेल आवश्यक आहे',
                                v => /.+@.+\..+/.test(v) || 'ईमेल वैध असणे आवश्यक आहे',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="फोन नंबर *" v-model="phoneNumber" :rules="[v => !!v || 'फोन नंबर आवश्यक आहे']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">सबमिट</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/September 2020 English Inner.pdf";
            link.download = 'September 2020 Marathi Inner.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "English"
              }
              this.loading = true
              fetch(`/marathi`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "सबमिशन ऑपरेशनमध्ये समस्या आली आहे. पुन्हा प्रयत्न करा."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>