<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>सेप्टेम्बर राप्सोडी नेपालीमा डाउनलोड गर्नुहोस्</title>
  <meta property="og:title" content="सेप्टेम्बर राप्सोडी नेपालीमा डाउनलोड गर्नुहोस्">
  <meta property="og:description" content="आफ्नो मनलाई दैनिक भक्ति दिनको लागि तपाईंको भावनालाई लिफ्ट दिन तपाईंको मनपर्ने दैनिक भक्तिगत वास्तविकताहरूको दुर्घटना डाउनलोड गर्नुहोस्। वास्तविकता को दुर्घटना पास्टर क्रिस Oyakilome द्वारा, क्रिश्चियन दैनिक भक्ति, संसारमा नम्बर 1 बाइबल अध्ययन गाइड हो। वास्तविकता को दुर्घटना दैनिक पढ्नुहोस् प्यारा क्रिस, लव वर्ल्ड इंक, उर्फ क्राइस्ट एम्बेसी चर्चको अध्यक्ष द्वारा दैनिक भक्ति पढ्नुहोस्।">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="आफ्नो मनलाई दैनिक भक्ति दिनको लागि तपाईंको भावनालाई लिफ्ट दिन तपाईंको मनपर्ने दैनिक भक्तिगत वास्तविकताहरूको दुर्घटना डाउनलोड गर्नुहोस्। वास्तविकता को दुर्घटना पास्टर क्रिस Oyakilome द्वारा, क्रिश्चियन दैनिक भक्ति, संसारमा नम्बर 1 बाइबल अध्ययन गाइड हो। वास्तविकता को दुर्घटना दैनिक पढ्नुहोस् प्यारा क्रिस, लव वर्ल्ड इंक, उर्फ क्राइस्ट एम्बेसी चर्चको अध्यक्ष द्वारा दैनिक भक्ति पढ्नुहोस्।">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">पास्टर क्रीस द्वारा आशिषित हुनुभएको छ?</h2>
                            <h4>परमेश्वरको जनको बारेमा अधिक जान्नुहोस्</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="नाम *" v-model="name" :rules="[v => !!v || 'नाम आवश्यक छ']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="इ - मेल ठेगाना *" v-model="email" :rules="[
                                v => !!v || 'इ-मेल आवश्यक छ',
                                v => /.+@.+\..+/.test(v) || 'इ-मेल मान्य हुनुपर्दछ',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="फोन नम्बर *" v-model="phoneNumber" :rules="[v => !!v || 'फोन नम्बर आवश्यक छ']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">बुझाउनुहोस्</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody is downloading...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/October 2020 Nepali Inner.pdf";
            link.download = 'October 2020 Nepali Inner.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Nepali"
              }
              this.loading = true
              fetch(`/nepali`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "सबमिशन कार्यसँग एक समस्या भएको छ। पछि फेरि प्रयास गर्नुहोस्।"
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>