<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Last ned februar Rhapsody på norsk</title>
  <meta property="og:title" content="Last ned februar Rhapsody på norsk">
  <meta property="og:description" content="Last ned din favoritt daglige andakt Rhapsody of Realities for å gi din ånd et løft hver dag. Rhapsody of Realities Christian Daily Devotional, av pastor Chris Oyakhilome, er verdens største bibelstudieguide. Les Rhapsody of Realities daglig hengivenhet av pastor Chris, presidenten for Loveworld Inc., aka Christ Embassy church.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/norwegian">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Last ned din favoritt daglige andakt Rhapsody of Realities for å gi din ånd et løft hver dag. Rhapsody of Realities Christian Daily Devotional, av pastor Chris Oyakhilome, er verdens største bibelstudieguide. Les Rhapsody of Realities daglig hengivenhet av pastor Chris, presidenten for Loveworld Inc., aka Christ Embassy church.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-responsive height="100hv">
          <v-layout fill-height justify-center align-center>
            <v-flex md7 sm12 xs12 class="hidden-sm-and-down">
              <v-img src="/images/pastor-chris.png" height="100vh" />
            </v-flex>
            <v-flex md5 sm12 xs12>
              <v-responsive height="100vh">
                <v-layout fill-height justify-center align-center>
                  <v-card flat color="transparent">
                    <v-card-text class="px-8">
                      <h2 class="display-2 text-center mb-8">Om TNI</h2>
                      <p>
                        <a target="_Blank" href="https://tniglobal.org"> Translators 'Network International (TNI) </a> 
                        er et nettverk av oversettere og inspirerte enkeltpersoner som sørger for at pastor Chris Oyakhilome 
                        arbeider og budskap er tilgjengelige og tilgjengelige på det språket som er best forstått av mennesker. 
                        Utover å oversette, prøver nettverket å distribuere de guddommelige sannhetene som Jesus evangelium tilbød 
                        gjennom forskjellige plattformer - og på de språkene som folket best forstår.
                      </p>

                        <p>
                          Fra begynnelsen av Rhapsody of Realities Translations med den aller første tyske 
                          oversettelsen i 2002, begynte 'Messenger Angel' som en flimmer av lys, reisen med 
                          å berøre liv, en person av gangen på det språket de forstår best.
                        </p>

                        <p>
                          <strong>
                            Således, med en lidenskap for å nå hver stamme og språk, ble Messenger Angel oversatt til andre språk
                          </strong>
                        </p>
                            
                      </v-card-text>

                      <v-card-actions class="px-8">
                        <v-btn class="text-capitalize" color="primary" dark href="https://tniglobal.org/join-the-team">Bli med i TNI</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn class="text-capitalize" color="green" dark href="https://ipartner.tniglobal.org">Partner med TNI</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-layout>
                </v-responsive>
              </v-flex>
          </v-layout>
        </v-responsive>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody lastes ned...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/SPECIAL NORWEGIAN 6 MONTHS EDITION.pdf";
            link.download = 'SPECIAL NORWEGIAN 6 MONTHS EDITION.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Norwegian"
              }
              this.loading = true
              fetch(`/norwegian`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('La réponse du réseau n\'était pas correcte');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Il y a eu un problème avec l'opération de soumission. Réessayez plus tard."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>