<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Ladda ner Bumper Rhapsody på svenska</title>
  <meta property="og:title" content="Ladda ner Bumper Rhapsody på svenska">
  <meta property="og:description" content="Ladda ner din favorit dagliga hängivenhet Rhapsody of Realities för att ge din ande en lyft varje dag. Rhapsody of Realities Christian Daily Devotional, av pastor Chris Oyakhilome, är världens bibelstudiehandbok nr 1. Läs Rhapsody of Realities dagliga hängivenhet av pastor Chris, presidenten för Loveworld Inc., aka Christ Embassy Church.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/swedish">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Ladda ner din favorit dagliga hängivenhet Rhapsody of Realities för att ge din ande en lyft varje dag. Rhapsody of Realities Christian Daily Devotional, av pastor Chris Oyakhilome, är världens bibelstudiehandbok nr 1. Läs Rhapsody of Realities dagliga hängivenhet av pastor Chris, presidenten för Loveworld Inc., aka Christ Embassy Church.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-responsive height="100hv">
          <v-layout fill-height justify-center align-center>
            <v-flex md7 sm12 xs12 class="hidden-sm-and-down">
              <v-img src="/images/impact-europe.jpeg" height="100vh" />
            </v-flex>
            <v-flex md5 sm12 xs12>
              <v-responsive height="100vh">
                <v-layout fill-height justify-center align-center>
                  <v-card flat color="transparent">
                    <v-card-text class="px-8">
                      <h2 class="display-2 text-center mb-8">Om TNI</h2>
                      <p>
                        <a target="_Blank" href="https://tniglobal.org"> Translators 'Network International (TNI) </a> 
                        är ett nätverk av översättare och inspirerade individer som ser till att pastorn Chris Oyakhilome 
                        fungerar och meddelanden är tillgängliga och tillgängliga på det språk som människor förstår bäst. 
                        Utöver översättningen strävar nätverket efter att distribuera de gudomliga sanningar som evangeliet 
                        om Jesus erbjuds via olika plattformar - och på de språk som bäst förstås av folket.
                      </p>

                        <p>
                          Från och med starten av Rhapsody of Realities Translations med den allra första tyska översättningen 
                          2002 började "Messenger Angel" som ett flimmer av ljus, resan för att beröra liv, en person i taget på 
                          det språk de förstår bäst.
                        </p>

                        <p>
                          <strong>
                            Således, med en passion för att nå varje stam och tunga, översändes Messenger Angel till andra språk
                          </strong>
                        </p>
                            
                      </v-card-text>

                      <v-card-actions class="px-8">
                        <v-btn class="text-capitalize" color="primary" dark href="https://tniglobal.org/join-the-team">Gå med i TNI</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn class="text-capitalize" color="green" dark href="https://ipartner.tniglobal.org">Partner med TNI</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-layout>
                </v-responsive>
              </v-flex>
          </v-layout>
        </v-responsive>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody laddas ner...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            download: true,
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/SPECIAL SWEDISH 6 MONTHS EIDITION.pdf";
            link.download = 'SPECIAL SWEDISH 6 MONTHS EIDITION.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Swedish"
              }
              this.loading = true
              fetch(`/swedish`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Det har varit ett problem med inlämningsoperationen. Försök igen senare."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>