<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>తెలుగులో బంపర్ రాప్సోడీని డౌన్‌లోడ్ చేసుకోండి</title>
  <meta property="og:title" content="తెలుగులో బంపర్ రాప్సోడీని డౌన్‌లోడ్ చేసుకోండి">
  <meta property="og:description" content="ప్రతిరోజూ మీ ఆత్మకు లిఫ్ట్ ఇవ్వడానికి మీకు ఇష్టమైన రోజువారీ భక్తి రాప్సోడి ఆఫ్ రియాలిటీలను డౌన్‌లోడ్ చేయండి. పాప్టర్ క్రిస్ ఓయాఖిలోమ్ రచించిన రాప్సోడి ఆఫ్ రియాలిటీస్ క్రిస్టియన్ డైలీ డెవొషనల్, ప్రపంచంలోనే నంబర్ 1 బైబిల్ స్టడీ గైడ్. లవ్‌వరల్డ్ ఇంక్, క్రీస్తు ఎంబసీ చర్చి అధ్యక్షుడు పాస్టర్ క్రిస్ చేత రోజువారీ భక్తితో రాప్సోడి ఆఫ్ రియాలిటీస్ చదవండి.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="ప్రతిరోజూ మీ ఆత్మకు లిఫ్ట్ ఇవ్వడానికి మీకు ఇష్టమైన రోజువారీ భక్తి రాప్సోడి ఆఫ్ రియాలిటీలను డౌన్‌లోడ్ చేయండి. పాప్టర్ క్రిస్ ఓయాఖిలోమ్ రచించిన రాప్సోడి ఆఫ్ రియాలిటీస్ క్రిస్టియన్ డైలీ డెవొషనల్, ప్రపంచంలోనే నంబర్ 1 బైబిల్ స్టడీ గైడ్. లవ్‌వరల్డ్ ఇంక్, క్రీస్తు ఎంబసీ చర్చి అధ్యక్షుడు పాస్టర్ క్రిస్ చేత రోజువారీ భక్తితో రాప్సోడి ఆఫ్ రియాలిటీస్ చదవండి.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/pastor-chris.png" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">పాస్టర్ క్రిస్ చేత ఆశీర్వదించబడ్డారా?</h2>
                            <h4>దేవుని మనిషి గురించి మరింత తెలుసుకోండి</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="పేరు *" v-model="name" :rules="[v => !!v || 'పేరు అవసరం']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ఇమెయిల్ చిరునామా *" v-model="email" :rules="[
                                v => !!v || 'ఇమెయిల్ అవసరం',
                                v => /.+@.+\..+/.test(v) || 'ఇమెయిల్ చెల్లుబాటులో ఉండాలి',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="ఫోను నంబరు *" v-model="phoneNumber" :rules="[v => !!v || 'ఫోన్ నంబర్ అవసరం']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">సమర్పించండి</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        రాప్సోడి డౌన్‌లోడ్ అవుతోంది...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            download: true,
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/TELUGU BUMPER PACK EDITION.pdf";
            link.download = 'TELUGU BUMPER PACK EDITION.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Telugu"
              }
              this.loading = true
              fetch(`/`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "సమర్పణ ఆపరేషన్‌లో సమస్య ఉంది. తరువాత మళ్ళీ ప్రయత్నించండి."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>