<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Tải xuống September Rhapsody bằng tiếng Việt</title>
  <meta property="og:title" content="Tải xuống September Rhapsody bằng tiếng Việt">
  <meta property="og:description" content="Tải xuống bản Rhapsody of Realities mà bạn yêu thích hàng ngày để nâng cao tinh thần của bạn mỗi ngày. Rhapsody of Realities Christian Daily Devotional, của Mục sư Chris Oyakhilome, là sách hướng dẫn học Kinh thánh số 1 trên thế giới. Đọc Rhapsody of Realities hàng ngày do Mục sư Chris, chủ tịch của Loveworld Inc., hay còn gọi là nhà thờ Christ Ambassador.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/vietnamese">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Tải xuống bản Rhapsody of Realities mà bạn yêu thích hàng ngày để nâng cao tinh thần của bạn mỗi ngày. Rhapsody of Realities Christian Daily Devotional, của Mục sư Chris Oyakhilome, là sách hướng dẫn học Kinh thánh số 1 trên thế giới. Đọc Rhapsody of Realities hàng ngày do Mục sư Chris, chủ tịch của Loveworld Inc., hay còn gọi là nhà thờ Christ Ambassador.">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <!-- <v-container>Hello world</v-container> -->

        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <!-- <v-toolbar dark color="primary">
                    <v-toolbar-title>Thank You For Downloading Rhapsody of Realities</v-toolbar-title>
                </v-toolbar> -->
                <!-- <v-card-title>
                    <span class="headline">Want To Know More About Pastor Chris?</span>
                </v-card-title> -->
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/impact-europe.jpeg" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-2">Đã Được Ban phước bởi Mục sư Chris?</h2>
                            <h4>Biết thêm về con người của Đức Chúa Trời</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined label="Tên *" v-model="name" :rules="[v => !!v || 'Tên là bắt buộc']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="Địa chỉ email *" v-model="email" :rules="[
                                v => !!v || 'Email thì cần thiết',
                                v => /.+@.+\..+/.test(v) || 'Email phải hợp lệ',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined label="Số điện thoại *" v-model="phoneNumber" :rules="[v => !!v || 'Số điện thoại là bắt buộc']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" dark @click.stop="save" :loading="loading">Gửi đi</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog = false">No</v-btn>
                    <v-btn color="green darken-1" text @click="dialog = false">Yes</v-btn>
                </v-card-actions> -->
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody is downloading...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/September 2020 Vietnamese Inner.pdf";
            link.download = 'September 2020 Vietnamese Inner.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Vietnamese"
              }
              this.loading = true
              fetch(`/vietnamese`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Đã xảy ra sự cố với thao tác gửi. Thử lại sau."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>