<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Ṣe igbasilẹ Oṣu Kẹsan Rhapsody ni ede Yoruba</title>
  <meta property="og:title" content="Ṣe igbasilẹ Oṣu Kẹsan Rhapsody ni ede Yoruba">
  <meta property="og:description" content="Ṣe igbasilẹ ifọkanbalẹ ojoojumọ rẹ ayanfẹ Rhapsody of Realities lati fun ẹmi rẹ ni igbega ni gbogbo ọjọ. Rhapsody of Realities Christian Daily Devotional, nipasẹ Olusoagutan Chris Oyakhilome, ni NỌ 1 itọsọna Bibeli ikẹkọọ ni agbaye. Ka Rhapsody of Realities ojoojumọ devotional nipasẹ Aguntan Chris, Alakoso Loveworld Inc., aka ijo Kristi Embassy.">
  <meta property="og:image" content="https://impact.tniglobal.org/logo.png">
  <meta property="og:url" content="https://impact.tniglobal.org/yoruba">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="description" content="Ṣe igbasilẹ ifọkanbalẹ ojoojumọ rẹ ayanfẹ Rhapsody of Realities lati fun ẹmi rẹ ni igbega ni gbogbo ọjọ. Rhapsody of Realities Christian Daily Devotional, nipasẹ Olusoagutan Chris Oyakhilome, ni NỌ 1 itọsọna Bibeli ikẹkọọ ni agbaye. Ka Rhapsody of Realities ojoojumọ devotional nipasẹ Aguntan Chris, Alakoso Loveworld Inc., aka ijo Kristi Embassy.">
  <style>
    @font-face {
      font-family: 'Yoruba';
      /* src: url('webfont.eot'); */
      src: url('switzerl.ttf')  format('truetype'); /* Safari, Android, iOS */
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-dialog v-model="dialog" persistent>
            <v-card width="100hv">
                <v-layout row wrap>
                    <v-flex md7 sm12 xs12>
                        <v-img src="/images/impact-europe.jpeg" height="100%" />
                    </v-flex>
                    <v-flex md5 sm12 xs12>
                        <v-card-text class="text-center px-8">
                            <h2 class="display-1" style="font-family: 'Yoruba', Fallback, sans-serif !important;">ǸJ!  O TI DI CNI *B^K%N <br/> N&PASC <br /> OLÙSỌ́ ÀGÙTÀN CHRIS?</h2>
                            <h4 style="font-family: 'Yoruba', Fallback, sans-serif !important;">M[ d72 s7 i n7pa 0j7s1 {l-run</h4>

                            <v-form class="pt-6" ref="form" :lazy-validation="lazy">
                                <v-text-field outlined style="font-family: 'Yoruba', Fallback, sans-serif !important;" label="OR^K{ *" v-model="name" :rules="[v => !!v || 'Orukọ nilo']" required :disabled="loading"></v-text-field>
                                <v-text-field outlined style="font-family: 'Yoruba', Fallback, sans-serif !important;" label="ÍMEÈLI *" v-model="email" :rules="[
                                v => !!v || 'E-mail nilo',
                                v => /.+@.+\..+/.test(v) || 'Imeeli gbọdọ jẹ deede',
                              ]" required :disabled="loading"></v-text-field>
                                <v-text-field outlined style="font-family: 'Yoruba', Fallback, sans-serif !important;" label="N_ḾBZ F()N^ *" v-model="phoneNumber" :rules="[v => !!v || 'Nọmba foonu nilo']" required :disabled="loading"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions class="px-12 mb-5 mx-12">
                            <v-btn rounded block color="red" style="font-family: 'Yoruba', Fallback, sans-serif !important;" dark @click.stop="save" :loading="loading">Fi rqns1</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-card>
          </v-dialog>
      </v-main>
      <v-snackbar
        top
        color="primary"
        :value="true"
      >
        Rhapsody is downloading...
      </v-snackbar>
      <v-snackbar
        v-model="snackbar"
        :multi-line="true"
      >
        {{text}}
      </v-snackbar>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
            loading: false,
            dialog: true,
            name: null,
            email: null,
            lazy: false,
            text: null,
            snackbar: false,
            phoneNumber: null
          }
      },
      created() {
        this.triggerDownload()
      },
      methods: {
          triggerDownload() {
            let link = document.createElement('a');
            link.href = "/files/YORUBA BUMPER PACKEDITION.pdf";
            link.download = 'YORUBA BUMPER PACKEDITION.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            URL.revokeObjectURL(link.href)
          },

          save() {
            if(this.$refs.form.validate()) {
              const data = {
                email: this.email,
                name: this.name,
                phoneNumber: this.phoneNumber,
                language: "Yoruba"
              }
              this.loading = true
              fetch(`/yoruba`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
              })
              .then(response => {
                  this.loading = false
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                this.text = data.message
                this.snackbar = true
                this.$refs.form.reset()
                  console.log(data)
              })
              .catch(error => {
                  console.error('There has been a problem with your fetch operation:', error);
                  this.text = "Iṣoro kan wa pẹlu iṣẹ ifakalẹ. Gbiyanju lẹẹkansi nigbamii."
                  this.snackbar = true
              });
            }
          }
      }
    })
  </script>
</body>
</html>